Body {
    text-align: center;
}

.pageHeader {
    margin: 10px;
}

.list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shop {
    text-align: left;
    width: 30%;
    padding: 3px;
    border: 1px dashed black;
}